@font-face {
    font-family: 'Kalam';
    src: url('../../fonts/Kalam-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.design-element1 {
    position: absolute;
    top: -700px; 
    left: -150px; 
    width: 1500px;
    height: 1500px; 
    z-index: -1; 
}

.design-element2 {
    position: absolute;
    top: -100px; 
    left: 900px; 
    width: 1500px;
    height: 1500px; 
    z-index: -1; 
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 80px 170px;
    max-width: 1100px;
}

.about-sections {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.about-intro {
    position: relative;
    margin-bottom: 50px;
}

.about-intro h1 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #9EFBB8;
    margin-bottom: 30px;
}

.about-intro p {
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.about-intro b {
    color: #7F3AFE;
}

.about-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    margin-right: 60px;
}

.about-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-details p {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Josefin Sans', sans-serif;
}

.about-details b {
    color: #7F3AFE;
}

.about-details {
    display: flex;
    align-items: left;
    /* flex-direction: column; */
    gap: 10px;
}

.about-right {
    display: flex;
    flex-direction: column;
    /* margin:  */
}

.about-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 50px;
}

.about-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;
    border-radius: 10px;
    background: linear-gradient(264deg, #77DDCB -5.09%, #9EFBB8 106.28%);
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.about-form:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.about-form img {
    height: 30px;
    width: 30px;
    margin-left: auto; 
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 40px;
    font-weight: 700px;
    background: linear-gradient(264deg, #96CCD1 -5.09%, #6CBBF1 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
}

.about-achievement p {
    font-size: 20px;
    font-weight: 500px;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 700px) {
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-sections {
        flex-direction: column;
    }
    .about-intro h1 {
        font-size: 30px;
    }
    .about-intro p {
        font-size: 15px;
        line-height: 20px;
    }
    .about-achievements {
        justify-content: space-between;
    }

    .about-achievement {
        gap: 10px;
    }

    .about-achievement h1 {
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievement p {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
    }
}