.links {
    display: flex;
    align-items: center;
    color:rebeccapurple
    
  }
  .box{
    border-radius: 20px;
    background: linear-gradient(264deg, #77DDCB -5.09%, #9EFBB8 106.28%);
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
  }
  .box:hover{
    background-color: grey;
  }
  .logout {
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
  }
  
  .menuButton,
  .mobileLinks {
    display: none;
  }
  
  @media (max-width: 768px) {
    .links {
      display: flex;
    align-items: center;
    margin-left: 2px;
    }
  
    .menuButton {
      display: block;
      cursor: pointer;
    }
  
    .mobileLinks {
      position: absolute;
      top: 100px;
      right: 0;
      width: 50%;
      height: calc(100vh - 100px);
      background-color: var(--bg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }